@import url(http://allfont.ru/allfont.css?fonts=a_avantebs);
@import url(http://allfont.ru/allfont.css?fonts=a_avantebsnr-light);
@import url(http://allfont.ru/allfont.css?fonts=futura-normal);
@import url(http://allfont.ru/allfont.css?fonts=futura-narrow-bold);
@import url(http://allfont.ru/allfont.css?fonts=roboto-regular);

@keyframes MyAni3{
	from {width: 100%;}
	
	to{width: 0%;}
}
@keyframes MyAni4{
	from {width: 0%;}
	
	to{width: 100%;}
}
@media (min-width:1151px){
	.dekstop_none{
		display: none ;
	}
	.dekVisHiden{
		visibility: hidden;
	}
}
@media (max-width:1150px){


	.mobile_none{
		display: none !important;
	}

	div.nameDIV{
		position: static;
	}

	#fullpage .fp-section:nth-of-type(n+2),
	.fp-tableCell:nth-of-type(n+1),
	.fp-scrollable:nth-of-type(n+1) {
	height: auto !important;
	}




	ul#menu li a{
		padding: 1em 1em;
		border: white solid 1px;
		color: black !important;
	}

	ul li.active a::after{

		background: black;
	}



	#menu {

		display: none;
		padding: 0;
		margin: 0;
		background-color: white;
		
	  }
	  ul#menu li {

		font-size: 1em;
		display: block;
		width: 100%;
		
		}
		



	 
	  .toggle-button {
		text-align: center;
		display: block !important;
		/* не забываем явно указать каким должен быть курсорheight: 100%; */
		cursor: pointer;
		background-color: #333;
		height:calc(1em + 20px);
		color: #fff;
	  }

	  .toggle-button:after {
		
		content: '\2261';
		cursor: pointer;
		padding: 15px;
		font-size: 1.5em;
		text-align: right;
	}
	#menu-checkbox:checked + #menu .toggle-button:after {
		content: "\D7";
	}
	


	  #menu-checkbox:checked + nav[role="navigation"] #menu {
		
		display: block !important;
	  }
	  
	  #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
		content: "\D7";
		
	  }

	  #menu-checkbox:checked + nav[role="navigation"] .toggle-button {
		text-align: right;

	  }


	  div#donat{
		  height: 1em;
		  width: 100%;
		  margin-right: 0px;
	  }
	  
	#donat div{
	display: none;
	}
	#donat a{
		font-size: 100%;
	}

	#cnv{
		width: calc(100% - 30px);
	}

	f_page{
		margin: 0px 15px;
	}

	.f_div{
		flex-direction: column;
		
	}

	.headDIV{
		display: none !important;
	}

	div.nameDIV{
		margin-left: 5px;
	}
}









body{    
    margin: 0px;
	font-size: 100%;
    
	font-family:  'a_AvanteBs', arial;
}



.Header{
	justify-content:space-between;
	position:fixed;
	z-index: 70;
	display: flex;
	width: 100%;
}

#donat{
	text-align:center;
	width : 14em;
	height :6em;
	color:white;
	margin-right: 25px;
	padding: 10px 20px;
	background-color:cornflowerblue;
}

#donat div{
	border: white solid 4px;
}

#donat p{
	margin:0px;
}



#donat a{
	margin-top:10px;
	color:white;
	font-size:1em;
}

.sum{
	font-size:2.4em;
}

#menu{
	
	top: 10px;
	/*position:fixed;
	z-index: 70;*/
}
#menu li {
text-align: center;

display: inline-block;

}

#menu li:hover{
	
	opacity: 0.7;
}

#menu li a{
	display: block;
	margin: 0em 1em;
	letter-spacing: 0.1em;
	text-decoration:none;
	color:white;	
	font-size:1em;
	position: relative;
	
}

li.active a:focus {
	 outline: none;
}

li.active a::after{
	content: "";
	width: 100%; 
	height: 3px;
	position: absolute;
	bottom: -1px;
	left: 0;
	background: white;
}

.nameDIV{
	position: relative;
    top: 1em;
	color:white;
	margin-left:3em;
	
}


.nameP{
	font-size:3em;
	margin:0px;
}
.nameV{
	font-size:2em;
	margin:0px;
	margin-left:0.8em;
	
}



.toggle-button {
	/* label скрыт */
	display: none;
  }

  #menu-checkbox {
	/* чекбокс скрыт */
	display: none;
  }

.page_div{
	height:100%;
	position: relative;
}

.headDIV {
	background:url(/pictures/head.jpg);
	height:75px;
	width: 100%;
	position: absolute;
	z-index: 60;
}
.nameDIV{
	padding-top: 75px;
}







#modal_map {
	width: 600px; 
	height: 450px; 
	border-radius: 5px;
	border: 3px #6495ed solid;
	background: #fff;
	position: fixed; 
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -225px;
	margin-left: -300px;/*width/2*/
	display: none; 
	opacity: 0; 
	z-index: 500;
	padding: 20px 10px;
}


#modal_map #modal_close {
	width: 41px;
	height: 41px;
	position: absolute;
	top: 10px;
	right: -65px;
	cursor: pointer;
	display: block;
	color:#FFF;
}

/* Пoдлoжкa */
#overlay {
	z-index:300; 
	position:fixed;
	background-color:#000; 
	opacity:0.8;
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none; 
}

