


@keyframes MyAni1{
	from {height: 100%;}
	
	to{height: 0%;}
}
@keyframes MyAni2{
	from {height: 0%;}
	
	to{height: 100%;}
}



.f_div{
	display:flex;
	flex-direction:row;
	margin: 2em 0em;
}

.f_page{

	margin: 0 3em;
}


.headDIV_don{
	height:75px;
}




.nameP{
	font-size:3em;
	margin:0px;
}
.nameV{
	font-size:2em;
	margin:0px;
	margin-left:0.8em;
	
}
.donation_tab{
	width:calc(100% - 8em);
	margin:0 4em;
}
.nameDIV{
	position: relative;
    top: 1em;
	color:white;
	margin-left:3em;
}
.place{
	margin-left:4em;
	position: absolute;
    bottom: 10em;

	}
.place img{
	height:50px;
}
	




.page_div{
	height:100%;
}



#modal_map {
	width: 600px; 
	height: 450px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #6495ed solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -225px;
	margin-left: -300px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 500; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_map #modal_close {
	width: 41px;
	height: 41px;
	position: absolute;
	top: 10px;
	right: -65px;
	cursor: pointer;
	display: block;
	color:#FFF;
}
/* Пoдлoжкa */
#overlay {
	z-index:300; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}




.clipped {
    background: url(/pictures/head.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    font-size:4em;
    padding: 0em;
    /* -webkit-background-clip обрезает фон элемента по контуру текста */
    -webkit-text-fill-color: transparent; /* переопределяет цвет текста с белого на прозрачный в браузерах на webkit */
    -webkit-background-clip: text;
}
.clipped h1{
	margin: 0em;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



.li_slash li{
	/*list-style: none;*/
	list-style-image: url(/pictures/slash.svg);
}


.div_pic{
	float: left;
    width: 845px;
    
    height: 80px;
	overflow:hidden;
    overflow-x: scroll;
    overflow-y: none;
}

.div_pic *{
	    display: inline-block;
    vertical-align: top;
}

.parent {
	    margin-top: 70px;
	margin-left: 5em;
    width: calc(100% - 10em);
    height:270px;
    overflow: hidden;

    white-space:nowrap;
	position:relative;
}

.child {
	margin-top:5px;
    display: inline-block;
    vertical-align: top;
    width: 165px;
	overflow: hidden;
    height:250px;
    
}

.child_h {
	margin-bottom:5px;
    display: inline-block;
    vertical-align: top;
    width: 165px;
	overflow: hidden;
    height:123px;
    
	float:left;
	clear: both;
}

.news{
	display:flex;
	justify-content: space-between;
	margin-top: 70px;
	margin-left: 10em;
    width: calc(100% - 20em);
    /*height:240px;
	background-color: red;*/
}
.new{
	display: block;
	flex: 0 0 165px;
    overflow: hidden;
    justify-content: center;
    /*width: 165px;*/
	background-color:#ff9f9f;
    height:250px;
	position:relative;
}

.new:after {
	animation: MyAni2 1s ;
    content: " ";
	width: 100%; 
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: crimson;
    opacity: 0.4;
}

.new:hover:after{
	animation: MyAni1 1s ;
	height: 0%;
}

.contacts_page{
	display:flex;
	flex-direction: row;
	margin-top: 50px;
	margin-left: 10em;
    width: calc(100% - 20em);
	
}

.contact_page{
	flex: 1 1 100px; 
}


.contacts{
	flex: 1 1 100px; 
	flex-direction: column;
	
}

.contact{
	display:flex;
	flex-direction: row;
	margin: 5px 0 0 0;
}

.contact p{
	margin: 0.5em 0;
}


.contact_info{
	display:flex;
	flex-direction: column;
	vertical-align: middle;
	margin: 5px 40px;
}
