


@keyframes MyAni1{
	from {height: 100%;}
	
	to{height: 0%;}
}
@keyframes MyAni2{
	from {height: 0%;}
	
	to{height: 100%;}
}

@media (min-width:1151px){

}

@media (max-width:420px){
	div div.contacts_page{
		width: 100%;
		margin-left:0px;
	}


}

@media (max-width:1150px){
	.divButtonPage{
		padding-top: 20px;
		display: flex; 
		justify-content: center;
	}
	.buttonOnPage{
		display: inline-block;
		text-align: center;
		background-color: lightcoral;
		padding: 20px;
		color:#fff;
		text-decoration: none;

	}

	div.contacts_page{
		width: 405px;
		margin-left: calc((100% - 405px) / 2);
		flex-direction: column;
	}

	div.contacts{
		order: 2;
	}

	div.contact_page{
		order: 1;
	}

	div.contact_image{
		display: flex;
		order:2;
	}
	div.contact_info{
		order:1;
		margin: 0px;
	}

	div.contact{
		justify-content: space-between;
	}
}



#donat2{
	text-align:center;
	
	height :6em;
	color:white;
	margin-top: calc(100% / 3);
	padding: 30px;
	background-color:cornflowerblue;
}



#donat2 div{
border: white solid 4px;
width : 14em;
margin: 4px auto;
}

#donat2 p{
margin:0px;
}



#donat2 a{
margin-top:10px;
color:white;
font-size:1em;
}


.donation_tab{
	width:calc(100% - 8em);
	margin:0 4em;
}

.place{
	margin-left:4em;
	position: absolute;
    bottom: 10em;

	}
.place img{
	height:50px;
}
	




.page_div{
	height:100%;
}




.clipped {
    background: url(/pictures/head.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    font-size:4em;
    padding: 0em;
    -webkit-text-fill-color: transparent; 
	-webkit-background-clip: text;
	background-clip: text;
}
.clipped h1{
	margin: 0em;
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}





.div_pic{
	float: left;
    width: 845px;
    
    height: 80px;
	overflow:hidden;
    overflow-x: scroll;
    overflow-y: none;
}

.div_pic *{
	display: inline-block;
    vertical-align: top;
}




.contacts_page{
	display:flex;
	flex-direction: row;
	padding-top: 75px;
	margin-left: 8em;
    width: calc(100% - 16em);
	
}

.contact_page{
	flex: 1 1 100px; 
}


.contacts{
	flex: 1 1 100px; 
	flex-direction: column;
	
}

div.contact_page td{
	padding: 4px;
}

.contact_page p{
	margin: 0px;
}

.contact{
	display:flex;
	flex-direction: row;
	margin: 5px 0 0 0;
}

.contact p{
	margin: 0.5em 0;
}


.contact_info{
	display:flex;
	flex-direction: column;
	vertical-align: middle;
	margin: 5px 40px;
}

.contact_image{
	width: 150px; 
	height: 200px;
}