
.nameN{
	font-size:2em;
	margin:0px;
}
.dateN{
	font-size:1em;
	margin:0px;
	
	
}
.nameDivN{
	position: relative;
    top: 1em;
	color:white;
	margin-left:10em;
}
.leftBack{
	display: block;
	position:fixed;
	height: calc(100% - 75px);
	width: 75px;
	background-color:  #6495ed;
	opacity: 0.2;
	left: 0px;
	bottom: 0px;
	color: red;
	font-size: 5em;
	text-align: center;
	cursor: pointer;
}
.leftBack:hover{
	opacity: 0.4;
}


.state{
    padding-top: 3em;
	margin-left:10em;
	margin-right:10em;
	text-align: center;
}
.state p{
	text-align: left;
}

ul li.active a::after{
	content: "";
	width: 0%; 
	height: 3px;
	position: absolute;
	bottom: 5px;
	left: 0;
	background: white;
}